@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #1e1e1e;
  color: #e5e5e5;
}

.container {
  width: 80%;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  height: 50px;
  background-color: #1e1e1e;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 7px;
}

.navbar ul li{
  display: inline-block;
  margin: 0 1em;
}

.navbar ul li a {
  color: #e5e5e5;
  position: relative;
  padding: 0 2px;
}

.navbar ul li a::after{
  content: '';
  width: 0;
  height: 2px;
  background-color: #e5e5e5;
  position: absolute;
  left: 0;
  top: 22px;
  transition: .5s;
}

.navbar ul li a:hover::after{
  width: 100%;
}

.hero {
  background-image: url(./img/herobg.jpg);
  background-size: cover;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.hero .container {
  display: grid;
  place-content: center;
  height: 90vh;
  text-align: center;
  color: #f2f2f2;
}
.textcontent{
  z-index: 10;
  animation: transitionIn 2s forwards;
}

.hero .textcontent h1 {
  text-transform: uppercase;
  font-size: 2.4em;
}

.hero .textcontent p {
  font-size: 1.3em;
  margin-bottom: .5em;
}

.hero .textcontent a {
  padding: 2px 20px;
  background-color: black;
  color: white;
  transition: .5s;
  border: solid 3px black;

}

.hero .textcontent a:hover{
  background-color: transparent;
}

.box {
  background-color: #4e4e4e;
  width: 250px;
  height: 390px;
  overflow: hidden;
  border-radius: 10px;
  transition: .5s;
}

.box small{
  color: black;
  font-size: 14px;
  margin-left: .5em;
}

.box:hover{
  transform: translateY(-10px);
}

.newgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 7em;
}

.newreleases {
  text-align: center;
  padding: 2em 0;
}

.newreleases p {
  margin-bottom: 2em;
}

.forcenter {
  display: grid;
  justify-content: center;
  
}

.gridmoviecontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em 5em;
  margin-top: .5em;
}

.movies {
  padding: 2em 0;
  background-color: #292929;
}

.movies h2 {
  text-align: center;
  text-transform: uppercase;
}

.movies .align {
  text-align: center;
  margin-bottom: 1em;
  color: #b4b4b4;
}

.phaseone p {
  font-size: 1.3em;
}

.phaseone {
  margin-bottom: 2em;
}

.box img {
  width: 100%;
  height: 20em;
}

.box p {
  font-size: 1em;
  color: black;
  margin-left: .5em;
}


.about {
  padding: 2em 0;
}

.none {
  display: none;
}



.login .container {
  position: relative;
  height: 100vh;
}

.wrapper {
  position: absolute;
  top: 30%;
}

.wrapper h1 {
  font-weight: 400;
  margin-bottom: .3em;
  font-size: 2.5em;
}

.wrapper input {
  font-family: 'Poppins', sans-serif;
  padding-right:  2em;
  font-size: large;
}

.wrapper .submit {
  font-family: 'Poppins', sans-serif;
  background-color: green;
  color: white;
  border: none;
  padding: 2px 1em;
}





@keyframes transitionIn {
  from {
    transform: translateY(-5em);
  }
  to {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 760px){
  .newgrid {
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }

  .box {
    width: 200px;
    height: 300px;
  }

  .box img {
    width: 100%;
    height: 80%;
  }

  .gridmoviecontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em 2em;
    margin-top: .5em;
  }

  .wrapper h1 {
    font-size: 2em;
  }

  input {
    max-width: 150px;
  }

  .wrapper h1 {
    font-size: 1.6em;
  }
}

@media only screen and (max-width: 1000px){
  .newgrid {
    gap: 2em;
  }

  .gridmoviecontainer {
    display: grid;
    gap: 2em 2em;
  }

  .box {
    width: 200px;
    height: 300px;
  }

  .box img {
    width: 100%;
    height: 80%;
  }

}